* {
    margin: 5px;
}

p {
    font-family: "Raleway", sans-serif, serif; 
}

.nav-header {
    font-family: "Gloock", sans-serif, serif;
    justify-content: flex-start;
}

.about-header {
    font-family: "Raleway", sans-serif, serif;
}
